<a href="https://colab.research.google.com/github/kanishkaverma26/Extracting_csv_file_from_pdf_using_Python3/blob/main/Extracting_csv_file_from_pdf_using_python_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install tabula-py

Requirement already satisfied: tabula-py in /usr/local/lib/python3.7/dist-packages (2.2.0)
Requirement already satisfied: distro in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.6.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.19.5)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)

In [8]:
import tabula
from tabula import read_pdf
from tabulate import tabulate
import pandas as pd
df = read_pdf("100100502_AES01267KY_ORG_Financial-Statement_2020.pdf", encoding = 'ISO-8859-1',
         stream=True, pages = 5, guess = True)[0]
df.to_csv('Profit_And_Loss.csv', index=True)

In [9]:
tabula.convert_into("100100502_AES01267KY_ORG_Financial-Statement_2020.pdf", "Profit_And_Loss.csv", output_format="csv", pages='5')
print(df)

                                          PArtICuLArs  ...     Year ended.1
0                                                 NaN  ...  31st March 2019
1                                              InCoMe  ...              NaN
2                             Revenue from Operations  ...        14,235.02
3                                        Other Income  ...           133.52
4                                        total Income  ...        14,368.54
5                                            exPenses  ...              NaN
6                      Cost of Raw Materials Consumed  ...         9,465.64
7                         Purchases of Stock-in Trade  ...           159.88
8   Changes in Inventories of Finished Goods, Work...  ...         (765.04)
9                           Employee Benefits Expense  ...           636.79
10                                      Finance Costs  ...            90.75
11              Depreciation and Amortisation expense  ...           212.49
12                                     Other Expenses  ...         2,376.33
13                                     total expenses  ...        12,176.84
14                                  Profit Before tax  ...         2,191.70
15                                       tax expenses  ...              NaN
16                                        Current Tax  ...           618.77
17                                       Deferred Tax  ...           151.10
18                                  total tax expense  ...           769.87
19  Profit for the year Before share of Loss of As...  ...         1,421.83
20                Less : Share of (Loss) of Associate  ...           (8.84)
21                                Profit for the Year  ...         1,412.99
22                other Comprehensive Income / (Loss)  ...              NaN
23  Items that will not be reclassified to profit ...  ...              NaN
24        Remeasurements of the defined benefit plans  ...           (6.70)
25  Income Tax relating to items that will not be ...  ...             2.34
26                          Share of OCI in associate  ...                -
27                                                NaN  ...           (5.36)
28     Items that will reclassified to profit or loss  ...              NaN
29  Exchange differences in translating the financ...  ...                -
30                                                NaN  ...                -
31  other Comprehensive Income/(Loss) for the Year...  ...           (4.36)
32            total Comprehensive Income for the Year  ...         1,408.63
33               Profit for the Year Attributable to:  ...              NaN
34                              Owners of the Company  ...         1,431.99
35                           Non-controlling interest  ...          (19.00)
36                                                NaN  ...         1,412.99
37  other Comprehensive Income/(Loss) for the Year...  ...              NaN
38                              Owners of the Company  ...           (4.36)
39                           Non-controlling interest  ...                -
40                                                NaN  ...           (4.36)
41  total Comprehensive Income for the Year Attrib...  ...              NaN
42                              Owners of the Company  ...         1,427.63
43                           Non-controlling interest  ...          (19.00)
44                                                NaN  ...         1,408.63
45      Earnings per equity share (Face value of ` 2)  ...              NaN
46                                       Basic (in `)  ...            11.56
47                                     Diluted (in `)  ...            11.54

[48 rows x 4 columns]

In [10]:
df = read_pdf("100100502_AES01267KY_ORG_Financial-Statement_2020.pdf", encoding = 'ISO-8859-1',
         stream=True, pages = 4, guess = True)[0]
df.to_csv('Balanced_Sheet.csv', index=True)
print(df)

                      Particulars  notes             As at           As at.1
0                             NaN    NaN  31st March, 2020  31st March, 2019
1                          Assets    NaN               NaN               NaN
2          non - Current Assets :    NaN               NaN               NaN
3   Property, Plant and Equipment    2.0          6,376.38          6,056.63
4        Capital Work-in-progress    NaN             68.58            255.10
..                            ...    ...               ...               ...
56                     Provisions   28.0                 -             10.13
57   Income Tax Liabilities (Net)   29.0             95.94              0.02
58      total Current Liabilities    NaN          4,945.13          4,107.49
59              total Liabilities    NaN          5,328.48          4,683.72
60   total equity and Liabilities    NaN         14,695.47         12,986.58

[61 rows x 4 columns]